---
# Only the main SASS file needs front matter
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap",
  "jquery.fullPage",
  "variables/variables",
  "utilities/mixins",
  "utilities/extensions",
  "utilities/utilities",
  "utilities/zindex",
  "fonts/type",
  "components/down-arrow",
  "components/footer",
  "components/get-on-google-play",
  "components/header",
  "components/quote-box",
  "components/screenshot"
;
// Establish link colors transitions
a {
  @include m-transition(color $seconds-defaultAnimLength ease);
  color: $color-accent;
  text-decoration: underline;
  &:hover, &:active, &:visited {
    color: darken($color-accent, 25%);
  }
}
// Set background color
body {
  background-color: $color-background;
}
// Set html and body height to 100%
html, body {
  height: 100%;
}