[submodule "_modules/bootstrap-sass"]
	path = _modules/bootstrap-sass
	url = https://github.com/twbs/bootstrap-sass.git
[submodule "_modules/Peppermint"]
	path = _modules/Peppermint
	url = https://github.com/wilddeer/Peppermint.git
