[submodule "_modules/bootstrap-sass"]
	path = _modules/bootstrap-sass
	url = https://github.com/twbs/bootstrap-sass.git
[submodule "_modules/fullPage.js"]
	path = _modules/fullPage.js
	url = https://github.com/alvarotrigo/fullPage.js.git
[submodule "_modules/loadCSS"]
	path = _modules/loadCSS
	url = https://github.com/filamentgroup/loadCSS.git
