<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Main Details -->
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta nam="keywords" content="{{ site.keywords }}">

  <!-- Google Indexing -->
  <meta name="googlebot" content="index,follow">

  <!-- Android -->
  <meta name="theme-color" content="#B39DDB">
  <meta property="al:android:app_name" content="Quotograph">
  <meta property="al:android:package" content="{{site.android_package}}">

  <!-- CSS with loadCSS -->
  <link rel="preload" href="css/main.css" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/main.css"></noscript>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.url }}">

  <!-- JavaScript -->
  <script async
          onload="loadjQueryDependants()"
          src="https://code.jquery.com/jquery-2.2.3.min.js"
          integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
          crossorigin="anonymous">
  </script>
  <script type="text/javascript">
    var loadScriptAsync = function(url, callback) {
      var script = document.createElement('script');
      script.src = url;
      script.async = true;
      script.onload = callback;
      document.head.appendChild(script);
    }
    var loadjQueryDependants = function() {
      loadScriptAsync("{{ '/js/jquery.fullPage.min.js' | prepend: site.url }}",
                      function () {
        $(function() {
          setupFullpage();
        });
      });
      loadScriptAsync("{{ '/js/bootstrap.min.js' | prepend: site.url }}", function () {});
    };
  </script>
  {% include load_css_inline.html %}
</head>