<div class="header affix">
  <a href="#quotes"
     style="text-decoration: none"
     ga-on="click"
     ga-event-category="nav-bar"
     ga-event-action="click"
     ga-event-label="Quotograph">
    <h1 class="f-fontH2 u-alignCenter u-noCushion header-title">Quotograph</h1>
  </a>
  <a class="f-fontN3 f-fontBase u-noCushion"
     href="#download"
     ga-on="click"
     ga-event-category="nav-bar"
     ga-event-action="click"
     ga-event-label="Download">
    <span class="header-download">Download</span>
  </a>
</div>
