<script type="text/javascript">
  function setupFullpage() {
    var slideCounter = 0;
    var slideMovements = 0;
    var anchors = ['quotes','inspiration','passion','diy','search','pictures','settings','download'];
    $('#fullpage').fullpage({
      anchors: anchors,
      controlArrows: false,
      fixedElements: ".header",
      afterRender: function() {
        $('#fullpage').fadeTo(1000, 1.0);
      },
      onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex) {
        slideMovements++;
      },
      onLeave: function(index, nextIndex, direction) {
        // Track a page view!
        ga('send', {
          hitType: 'pageview',
          page: anchors[nextIndex-1]
        });
      }
    });
    var autoScroll = function() {
      if (slideMovements > slideCounter) {
        // The user scrolled the quotes manually
        return;
      } else if (++slideCounter > 4) {
        // Take them to the next section (oooooooh)
        $.fn.fullpage.moveSectionDown();
        return;
      }
      var $activeSection = $("div.section.active");
      if ($activeSection.index() != 0) {
        // Return because the user scrolled past the quotes
        return;
      }

      $.fn.fullpage.moveSlideRight();
      setTimeout(autoScroll, 3000);
    }
    setTimeout(autoScroll, 4000);

    var showDownArrow = function() {
      var $activeSection = $("div.section.active");
      if ($activeSection.index() != 0) {
        // Arrow no longer visible, move on
        return;
      }
      var counter = 0;
      var $downArrow = $("img.downArrow");
      animateArrow();
      function animateArrow() {
        if (++counter > 2) {
          $downArrow.animate({marginBottom: 0, opacity: 1.0}, 2000);
          return;
        }
        $downArrow.animate({marginBottom: 0, opacity: 1.0}, 2000);
        $downArrow.animate({marginBottom: 30, opacity: 0}, 2000, animateArrow);
      }
    }
    setTimeout(showDownArrow, 4000);
    var revealHeader = function() {
      $("div.header").fadeTo(1000, 1.0);
    }
    setTimeout(revealHeader, 1000);
  }
</script>