/************************
 * Hero + Quotes!
*************************/

.hero {
  height: 100%;
  width: 100%;

  #peppermint, .peppermint-slides {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .quote-wrapper {
    color: white;
    height: 100%;
    width: 100%;
    font-family: $quote-font-family;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  // Darkens the image a bit
  .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.50);
  }

  .author {
    text-align: right;

    h1 {
      font-weight: $author-font-weight;
    }
  }

  .quote {
    text-align: justify;
    text-justify: inter-word;

    h1 {
      font-weight: $quote-font-weight;
    }
  }
}