/************************
 * Hero + Quotes!
*************************/

.hero {
  height: 100%;
  width: 100%;

  #peppermint, .peppermint-slides {
    height: 100%;
  }

  .quote-wrapper {
    min-height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}