// Brand colors
$color-primary: rgb(142,36,170);
$color-secondary: rgb(186,104,200);
$color-accent: rgba(black, .87);
$color-textPrimary: rgba(black, .87);
$color-textSecondary: rgba(black, .54);
$color-textDisabled: rgba(black, .38);
$color-background: rgb(237,237,237);
$color-backgroundA80: rgba(237,237,237,.8);
// Page width (rem)
$width-pageMax: 97;
// Default animation length
$seconds-defaultAnimLength: 200ms;