// Brand colors
$color-brandHighlight: #2ECC71;
$color-brandBase: #27AE60;
$color-brandBackground: rgba(255, 255, 255, 1);
$color-brandLight: #BDC3C7;
$color-brandText: #95A5A6;
// Page width (rem)
$width-pageMax: 97;
// Default animation length
$seconds-defaultAnimLength: 200ms;