// Mixins

@mixin reset-margin($margin) {
  margin-left:           $margin;
  margin-top:            $margin;
  margin-right:          $margin;
  margin-bottom:         $margin;
  -webkit-margin-before: $margin;
  -webkit-margin-after:  $margin;
  -webkit-margin-start:  $margin;
  -webkit-margin-end:    $margin;
  -moz-margin-before:    $margin;
  -moz-margin-after:     $margin;
  -moz-margin-start:     $margin;
  -moz-margin-end:       $margin;
  -ms-margin-before:     $margin;
  -ms-margin-after:      $margin;
  -ms-margin-start:      $margin;
  -ms-margin-end:        $margin;
}

@mixin reset-padding-tb($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
  -webkit-padding-top: $padding;
  -webkit-padding-bottom: $padding;
  -moz-padding-top: $padding;
  -moz-padding-bottom: $padding;
  -ms-padding-top: $padding;
  -ms-padding-bottom: $padding;
}

@mixin reset-padding-lr($padding) {
  padding-left: $padding;
  padding-right: $padding;
  -webkit-padding-left: $padding;
  -webkit-padding-right: $padding;
  -moz-padding-left: $padding;
  -moz-padding-right: $padding;
  -ms-padding-left: $padding;
  -ms-padding-right: $padding;
}

// Globals

html {
  background: $background-color;
}

body {
  @include reset-margin(0);
}

// Typography

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-main;
  color: $text-color-alt;
  word-wrap: normal;
}

h1 {
  @include reset-margin(0);
  font-size:    2.25em;
  font-weight:  400;
}
