// Nothing…yet?
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700|Nunito:400,300);

$font-family-quote:  Josefin Sans, serif;
$font-family-main:   Nunito, sans-serif;

$background-color:      #F3E5F5;
$background-color-alt:  #E1BEE7;
$text-color:            #4A4A4A;
$text-color-alt:        $background-color;
