<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stanleyidesis.livewallpaperquotes">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/Theme.LWQ"
        android:name=".LWQApplication">

        <!-- Sugar ORM Meta Data -->

        <meta-data android:name="DATABASE" android:value="live_wallpaper_quote.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.stanleyidesis.livewallpaperquotes.api.db"/>

        <!-- Activities -->

        <activity android:name=".ui.activity.LWQSettingsActivity"
            android:launchMode="singleInstance" android:theme="@style/Theme.LWQ.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Receivers -->

        <receiver android:name=".api.receiver.LWQReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="com.stanleyidesis.livewallpaperquotes.action.CHANGE_WALLPAPER"/>
            </intent-filter>
        </receiver>

        <!-- Services -->

        <service android:name=".api.service.LWQWallpaperService"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data android:name="android.service.wallpaper"
                android:resource="@xml/meta"/>
        </service>

        <service android:name=".api.service.LWQUpdateService"/>

    </application>

</manifest>
