<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stanleyidesis.quotograph">

    <!-- Do Not Require Permission Flow -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <!-- Requires Permission Flow -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/Theme.LWQ"
        android:name="com.stanleyidesis.quotograph.LWQApplication">

        <!-- Sugar ORM Meta Data -->

        <meta-data android:name="DATABASE" android:value="quotograph.db" />
        <meta-data android:name="VERSION" android:value="4" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.stanleyidesis.quotograph.api.db"/>

        <!-- Activities -->

        <activity android:name="com.stanleyidesis.quotograph.ui.activity.LWQActivateActivity" android:screenOrientation="sensorPortrait"
            android:launchMode="singleInstance" android:theme="@style/Theme.LWQ.Wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.stanleyidesis.quotograph.ui.activity.LWQSettingsActivity" android:screenOrientation="sensorPortrait"
            android:launchMode="singleInstance" android:theme="@style/Theme.LWQ.Wallpaper" android:enabled="false"/>

        <activity android:name="com.stanleyidesis.quotograph.ui.activity.LWQSaveWallpaperActivity" android:screenOrientation="sensorPortrait"
            android:launchMode="singleInstance" android:theme="@style/Theme.LWQ.NoShow"/>

        <activity android:name="com.stanleyidesis.quotograph.ui.activity.LWQSurveyActivity" android:screenOrientation="sensorPortrait"
            android:launchMode="singleInstance" android:theme="@style/Theme.LWQ.SurveyActivity"/>

        <!-- Receivers -->

        <receiver android:name="com.stanleyidesis.quotograph.api.receiver.LWQReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="com.stanleyidesis.quotograph.action.CHANGE_WALLPAPER"/>
                <action android:name="com.stanleyidesis.quotograph.action.SHARE"/>
                <action android:name="com.stanleyidesis.quotograph.action.SAVE"/>
                <action android:name="com.stanleyidesis.quotograph.action.SURVEY_RESPONSE"/>
            </intent-filter>
        </receiver>

        <!-- Services -->

        <service android:name="com.stanleyidesis.quotograph.api.service.LWQWallpaperService" android:enabled="false"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data android:name="android.service.wallpaper"
                android:resource="@xml/meta"/>
        </service>

        <service android:name="com.stanleyidesis.quotograph.api.service.LWQUpdateService"/>

        <!-- Crashlytics -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54ccbc4bc8a5ef34bb4af2a94a3cb263bcb24127" />

    </application>

</manifest>
