// All mixins live here

// This mixin supports IE8 font-size with a 'px' fallback
@mixin m-fontSize($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
// This mixin supports IE8 line-height with a 'px' fallback
@mixin m-lineHeight($heightValue: 2.2) {
  line-height: ($heightValue * 10) + px;
  line-height: $heightValue + rem;
}
// This mixin supports IE8 margin-bottom with a 'px' fallback
@mixin m-marginBottom($marginValue: 2.2) {
  margin-bottom: ($marginValue * 10) + px;
  margin-bottom: $marginValue + rem;
}
// This mixin supports IE8 margin-bottom with a 'px' fallback
@mixin m-maxWidth($maxWidth: 2.2) {
  max-width: ($maxWidth * 10) + px;
  max-width: $maxWidth + rem;
}
// Max screen size given this device width
@mixin m-mediaMax($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// Minimum screen size given this device width
@mixin m-mediaMin($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}
// Enable images to float on hover
@mixin m-hoverFloat($scale, $alpha) {
    @include m-transition(all $seconds-defaultAnimLength ease-in-out);
    box-shadow: initial;
    opacity: $alpha;

    &:hover {
        opacity: 1.0;
        transform: scale($scale);
        box-shadow: 0px 0px 24px 2px rgba(black, .5);
    }
}
// Transition mixin
@mixin m-transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// Opacity transition
@mixin m-opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
// Background size property
@mixin m-backgroundSize($backgroundSize) {
  -webkit-background-size: $backgroundSize;
  -moz-background-size:    $backgroundSize;
  -o-background-size:      $backgroundSize;
  background-size:         $backgroundSize;
}
// Text Stroke in pixels fallback
@mixin m-textStrokePixels($color, $width) {
   text-shadow:
       -$width -$width 0 $color,
       $width -$width 0 $color,
       -$width $width 0 $color,
       $width $width 0 $color;
}
// Text Shadow
@mixin m-textShadow($x: 2px, $y: 0px, $blur: 4px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}