// Flatten a list from left-to-right
.u-flattenListLTR {
  list-style-type: none;
  list-style: none;
  text-align: left;
  li {
    display: inline-block
  }
}
// Flatten a list, right-to-left
.u-flattenListRTL {
  list-style-type: none;
  list-style: none;
  text-align: right;
  li {
    display: inline-block
  }
}
.u-removeListStyle {
  list-style-type: none;
  list-style: none;
}
.u-alignJustify {
  text-align: justify;
}
.u-alignCenter {
  text-align: center;
}
.u-alignRight {
  text-align: right;
}
.u-alignLeft {
  text-align: left;
}
.u-noPadding {
  padding: 0;
}
.u-noMargin {
  margin: 0;
}
.u-noCushion {
  padding: 0;
  margin: 0;
}
.u-floatRight {
  float: right;
}
.u-floatLeft {
  float: left;
}
.u-centerInDiv {
  margin-left: auto;
  margin-right: auto;
}
.u-defaultHoverFloat {
  @include m-hoverFloat(1.01, .7);
}
.u-coverBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* This utility blurs any element */
.u-blur {
  filter: url(/images/blur.svg#blur);
	-webkit-filter: blur(3px);
	filter: blur(3px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
.u-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}