.site-header {
  @include reset-padding-tb(.5em);
  @include reset-padding-lr(.5em);
  @extend %one-whole;
  background-color: rgba($background-color-alt, .3);
  position: absolute;

  a {
    float: right;
    vertical-align: middle;
  }
  img, h1 {
    vertical-align: middle;
  }
}

.site-hero {
  @extend %one-whole;
  overflow: hidden;
}
